/* 
    Document   : theme_main
    Created on : Feb 5, 2013, 4:59:39 PM
    Author     : Jeffrey
    Description:
        Purpose of the stylesheet follows.
*/
root { 
    display: block;
}

body {
    background-color: #f4f4f4;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
}


/* LOGIN PAGE */
#login_page {
    position: absolute;
    background-color: #f2f2f2;
    font-size: 20px;
    top: 50%;
    height: 90px;
    margin-top: -95px; /* Half of the height inc padding */
    left: 50%;
    width:280px;
    margin-left: -190px; /* Half of the height inc padding */
    padding: 50px;
    border: solid 1px #999999;
    border-radius: 4px;
}
#login_pagef1{position: absolute; top:50px; left:50px;}
#login_pagef2{top:50px;right:50px;}
#login_pagef3{position: absolute; top:80px; left:50px;}
#login_pagef4{top:80px;right:50px;}
#login_pagef5{left:50px; top:110px; width: 280px; height:26px;}
#login_page input{
    background-color: #f9f4f4;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 3px;
    width: 170px;
    height: 20px;
    position: absolute;
}

#topHeader{
    width: 100%;
    background-color: #3f3f3f;
    height: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

#btmFooter{
    width: 100%;
    background-color: #3f3f3f;
    height: 15px;
    color: white;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    bottom: 0px;
    position: absolute;
}

.leftMenu{
    width: 200px;
    background-color: #3f3f3f;
    top:20px;
    bottom:15px;
    position: absolute;
    float: left;
}

.leftMenu ul{
    padding:0px;
    margin:0px;
    font-size:15px;
    color:#FFF;
    list-style:none;
    text-indent:15px;
}
.leftMenu ul li.sub{
    text-indent: 30px;
    font-size: 12px;
}
.leftMenu ul li{
    background:#3f3f3f;
    line-height:28px;
    border-bottom:1px solid #333;
}
.leftMenu ul li a{
    text-decoration:none;
    color:#FFF;
    display:block;
}
.leftMenu ul li a:hover{
    background:#d40203;
}
.leftMenu ul li#active{
    background:#d40203;
}

.mainContenet{
    position: absolute;
    left: 200px;
    top: 20px;
    right: 0px;
    bottom:15px;
    margin: 20px 20px 20px 20px;
}
.settingSection{
    margin: 0px 0px 0px 0px;
    /*border: 1px solid #3f3f3f;*/
    border-bottom: 3px solid #3f3f3f;
    border-right: 3px solid #3f3f3f;
    border-top: 1px solid #3f3f3f;
    border-left: 1px solid #3f3f3f;
    background-color: #cacaca;
    font-size: 30px;
    color: #3f3f3f;
    text-align: right;
    width: 100%;
}

.saveChangesBtn input{
    margin: 0px 0px 0px 0px;
    border: 3px solid #3f3f3f;
    background-color: #cacaca;
    width: 100%;
    font-size: 25px;
}
table{
    border-collapse:collapse;
}
table, th, td{
    border: 1px solid #3f3f3f;
}

select{
    background-color: #cacaca;
    border: 2	px solid #3f3f3f;
}








#content {
    width: 80%;
    background-color: #f2f2f2;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-color: #999999;
    border-right-color: #999999;
    margin-left:auto;
    margin-right:auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}


