/* 
    Document   : theme_main
    Created on : Feb 5, 2013, 4:59:39 PM
    Author     : Jeffrey
    Description:
        Purpose of the stylesheet follows.
*/

/*----------------General Look-n-feel------------------*/
root { 
    display: block;
}
* { padding:0; margin:0; }
a{color: #9999ff;}
table, tr, td{
    border: none;
}


/*--------------------Layout--------------------------*/
body, html {
    background-color: #f4f4f4;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}
#tbl_top{
    
}
#tbl_bottom{
    
}
#container{
    height:100%;
    border-collapse:collapse;
    width: 100%;
}
#header {
    width: 95%;
    background-color: #f2f2f2;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-color: #999999;
    border-right-color: #999999;
    margin-left:auto;
    margin-right:auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
#header_menu{
    width: 100%;
    background-color: #b2b2b2;
    position: absolute;
    right: 0px;
    left: 0px;
}
#header_h1{
    font-size: 40px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #9999ff;
}
#header_h2{
    font-size: 25px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-style: italic;
    color: #b2b2ff;
}
#header_menu{
    
}
#header_menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    width: 100%;
}
#header_menu li{
    float:left;
    border-right: 2px solid #999999;
    border-left: 2px solid #999999;
    box-sizing:border-box; /* IE */
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    width: 200px;
}
#header_menu a:link, #header_menu a:visited{
    display:block;
    width: 100%;
    color: #ffffff; 
    background-color:#b2b2b2;
    text-align:center;
    padding:4px;
    text-decoration:none;
}
#header_menu a:hover, #header_menu a:active{
    color: black;
    font-weight:bold;
}
#mostRight {border-right: none;}        /*id for nav-menu list item farthest right*/
#mostLeft {border-left: none;}          /*id for nav-menu list item farthest left*/
#header_menuloc{
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    background-color:#b2b2b2;
    text-align: center;
    padding-top:4px;
    padding-bottom:4px;
    text-decoration: none;
    color: #ffffff;
}
#content{
    width: 95%;
    background-color: #f2f2f2;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-color: #999999;
    border-right-color: #999999;
    border-bottom-color: #cccccc;
    margin-left:auto;
    margin-right:auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}
#content_rightside{
    width: 500px;
    float: right;
}
#content_leftside{
    margin-right:510px;
}
.content_h1{
    font-size: 30px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #9999ff;
}
.content_h2{
    font-size: 20px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #b2b2b2;
}
#footer{
    width: 100%;
    height: 20px;
    color: black;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
}



.editInfo a{
    text-decoration: none;
    color:red;
}
.editInfo{
    font-size: 10px;
    color:red;
}

.content_field{
    font-weight: bold;
}
.content_fieldhidden{
    font-weight: bold;
    text-decoration: line-through;
}

select{
    background-color: #cacaca;
    border: 2px solid #3f3f3f;
}
input{
    background-color: #cccccc;
    border: 2px solid #666666;
}

#content_submit, .content_linkbtn{
    background-color: #cccccc;
    border: 2px solid #666666;
    width: 100px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#content_submit input{
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 16px;
}
.content_linkbtn a{
    text-decoration: none;
    color: white;
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    font-size: 16px;
    top: 4px;
}

.innerBorder table{
    border-collapse:collapse;
}
.innerBorder table, .innerBorder th, .innerBorder td{
    border: 1px solid #3f3f3f;
    padding-top: 2px;
    padding-botom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.blocked tr, .blocked td, .blocked th{
    background-color: #ff868e;
}
.added tr, .added td, .added th{
    background-color: #86ffad;
}
.divide tr, .divide td, .divide th{
    background-color: #b2b2b2;
    height: 5px;
}




