/* 
    Document   : theme_main
    Created on : Feb 5, 2013, 4:59:39 PM
    Author     : Jeffrey
    Description:
        Purpose of the stylesheet follows.
*/

/*----------------General Look-n-feel------------------*/
root { 
    display: block;
}
* { padding:0; margin:0; }
a{color: #9999ff;}
table, tr, td{
    border: none;
}


/*--------------------Layout--------------------------*/
body, html {
    background-color: #f4f4f4;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}
#tbl_top{
    
}
#tbl_bottom{
    
}
#container{
    height:100%;
    border-collapse:collapse;
    width: 100%;
}
#header {
    width: 95%;
    background-color: #f2f2f2;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-color: #999999;
    border-right-color: #999999;
    margin-left:auto;
    margin-right:auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
#header_menu{
    width: 100%;
    background-color: #b2b2b2;
    position: absolute;
    right: 0px;
    left: 0px;
}
#header_h1{
    font-size: 40px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #9999ff;
}
#header_h2{
    font-size: 25px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-style: italic;
    color: #b2b2ff;
}
#header_menu{
    
}
#header_menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    width: 100%;
}
#header_menu li{
    float:left;
    border-right: 2px solid #999999;
    border-left: 2px solid #999999;
    box-sizing:border-box; /* IE */
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    width: 200px;
}
#header_menu a:link, #header_menu a:visited{
    display:block;
    width: 100%;
    color: #ffffff; 
    background-color:#b2b2b2;
    text-align:center;
    padding:4px;
    text-decoration:none;
}
#header_menu a:hover, #header_menu a:active{
    color: black;
    font-weight:bold;
}
#mostRight {border-right: none;}        /*id for nav-menu list item farthest right*/
#mostLeft {border-left: none;}          /*id for nav-menu list item farthest left*/
#header_menuloc{
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    background-color:#b2b2b2;
    text-align: center;
    padding-top:4px;
    padding-bottom:4px;
    text-decoration: none;
    color: #ffffff;
}
#content{
    width: 95%;
    background-color: #f2f2f2;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-color: #999999;
    border-right-color: #999999;
    border-bottom-color: #cccccc;
    margin-left:auto;
    margin-right:auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}
#content_rightside{
    width: 50%;
    float: right;
}
#content_leftside{
    margin-right:52%;
}
#content_sidebar{
    width: 220px;
    float: right;
    background-color: #b2b2b2;
    padding: 10px;
    border: 2px solid #999999;
    border-radius: 4px;
    margin-top: 10px;
}
#content_main{
    margin-right:270px;
}
.content_h1{
    font-size: 30px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #9999ff;
}
.content_h2{
    font-size: 20px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #b2b2b2;
}
.content_articlestub{
    border: 1px solid #b2b2b2;
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content_articlestub .article_heading{
    font-size: 30px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #b2b2b2;
    width: 100%;
    background-color: #f4f4f4;
    padding-bottom: 2px;
    border-bottom: 2px dotted #b2b2b2;
    margin-bottom: 20px;
    text-indent: 50px;
    text-decoration: none;
}
.content_articlestub .article_cont{
    text-decoration: none;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}

.content_article{
    border: 1px solid #b2b2b2;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content_article .article_heading{
    font-size: 30px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #b2b2b2;
    width: 100%;
    background-color: #f4f4f4;
    padding-bottom: 2px;
    border-bottom: 2px dotted #b2b2b2;
    margin-bottom: 20px;
    text-indent: 50px;
    text-decoration: none;
}
.content_article .article_meta{
    font-size: 16px;
    width: 100%;
    border: 1px solid #b2b2b2;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}
.content_article .article_meta a{text-decoration: none;}
.content_article .article_meta .field{font-weight: bold;}

#content_pagesel{
    border: 0px;
    margin:0px;
    padding:0px;
    float: right;
    width: 100%;
    margin-right: 20px;
}
#content_pagesel li{
    border:0; margin:0; padding:0;
    font-size:12px;
    font-family: sans-serif;
    list-style:none;
}
#content_pagesel a{
    border:solid 1px #b2b2b2;
}
#content_pagesel .prev_none,
#content_pagesel .next_none {
    color:#b2b2b2;
    display:block;
    float:right;
    font-weight:bold;
    margin-right:2px;
    padding:3px 4px;
}
#content_pagesel .next a, #content_pagesel .prev a {font-weight:bold;} 
#content_pagesel .active{
    background:#b2b2b2;
    color:#FFFFFF;
    font-weight:bold;
    display:block;
    float:right;
    padding:4px 6px;
}
#content_pagesel a:link, #content_pagesel a:visited {
    display:block;
    float:right;
    padding:3px 6px;
    text-decoration:none;
}
#content_pagesel a:hover{
    background-color: #b2b2b2;
    color: white;
}

.content_sideh1{
    font-size: 26px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: white;
    text-align: right;
    padding-bottom: 2px;
    border-bottom: 1px solid #f2f2f2;
}
.content_sidebarop, .content_sidebaropxl, .content_sidebaropl, .content_sidebaropm, .content_sidebarops, .content_sidebaropxs {
    font-size: 20px; /* XL & filtered tags */
    color: white;
    text-decoration: none;
    margin-left: 20px;
    white-space: nowrap
}
.content_sidebaropl {font-size: 18px;}
.content_sidebaropm {font-size: 16px;}
.content_sidebarops {font-size: 14px;}
.content_sidebaropxs {font-size: 12px;}
#footer{
    width: 100%;
    height: 20px;
    color: black;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
}



.editInfo a{
    text-decoration: none;
    color:red;
}
.editInfo{
    font-size: 10px;
    color:red;
}

.content_field{
    font-weight: bold;
}
.content_fieldhidden{
    font-weight: bold;
    text-decoration: line-through;
}

select{
    background-color: #cacaca;
    border: 2px solid #3f3f3f;
}
input, textarea{
    background-color: #cccccc;
    border: 2px solid #666666;
}

#content_submit, .content_linkbtn{
    background-color: #cccccc;
    border: 2px solid #666666;
    width: 100px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#content_submit input{
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 16px;
}
.content_linkbtn a{
    text-decoration: none;
    color: white;
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    font-size: 16px;
    top: 4px;
}

.innerBorder table{
    border-collapse:collapse;
}
.innerBorder table, .innerBorder th, .innerBorder td{
    border: 1px solid #3f3f3f;
    padding-top: 2px;
    padding-botom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.blocked tr, .blocked td, .blocked th{
    background-color: #ff868e;
}
.added tr, .added td, .added th{
    background-color: #86ffad;
}
.divide tr, .divide td, .divide th{
    background-color: #b2b2b2;
    height: 5px;
}

.tileRegion{
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    border-collapse: separate;
    border-spacing: 20px 20px;
}
.tileRegion tr, .tileRegion td{
    width: 200px;
    height: 80px;
    background-color: #d8d8d8;
    border: 4px solid #b2b2b2;
    text-align: center;
}
.tile{
    text-align: center;
    width: 200px;
    height: 80px;
    
    width: 100%;
    text-decoration: none;
    display: block;
}
.tilea{
    position: relative;
    top: 32px;
}




